@inherits LayoutComponentBase
@*<div class="sidebar">
        <NavMenu />
    </div>*@
<ModalDialogContainer />
<MatToastContainer />
<div class="main">
    @*<div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>*@
    <MatThemeProvider Theme="theme">
        <MatAppBarContainer>
            <MatAppBar Class="mat-elevation-z12" Fixed="true" Style="position:sticky">
                <MatAppBarRow>
                    <MatAppBarSection>
                        <MatAppBarTitle Style="font-size:1.4em">MasterCSharp - c# Learning and practice tools</MatAppBarTitle>
                    </MatAppBarSection>
                    <MatAppBarSection>
                    </MatAppBarSection>
                    <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                        <AuthorizeView>
                            <Authorized>
                                <div style="margin-right:1rem">
                                    Hello, @context.User.Identity.Name!
                                    <a href="/.auth/logout?post_logout_redirect_uri=/" style="color: white"> Log out</a>
                                </div>
                            </Authorized>
                            <NotAuthorized>
                                <div style="margin-right:1rem">
                                     <a href="/login-providers" style="color: white">Log in</a>
                                </div>
                            </NotAuthorized>
                        </AuthorizeView>
                        <MatIconButton Style="margin-left:5px" Link="https://github.com/HillPhelmuth/MasterSharpApp">
                            <i class="githubIcon"></i>
                        </MatIconButton>
                    </MatAppBarSection>
                </MatAppBarRow>
            </MatAppBar>
        </MatAppBarContainer>
    </MatThemeProvider>
    <div class="content px-4">
        @Body
    </div>
</div>

@code {

    readonly MatTheme theme = new MatTheme()
    {
        Primary = "#1a76c9",
    };
}
