@inherits LayoutComponentBase
@*<div class="sidebar">
        <NavMenu />
    </div>*@
<ModalDialogContainer />
<div class="main">
    @*<div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>*@
    <MatThemeProvider Theme="theme">
        <MatAppBarContainer>
            <MatAppBar Class="mat-elevation-z12" Fixed="true" Style="position:sticky">
                <MatAppBarRow>
                    <MatAppBarSection>
                        <MatAppBarTitle Style="font-size:1.4em">MasterSharp - C# Learning and practice tools</MatAppBarTitle>
                    </MatAppBarSection>
                    <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                        <MatIconButton Link="https://github.com/HillPhelmuth/MasterSharpApp">
                            <i class="githubIcon"></i>
                        </MatIconButton>
                    </MatAppBarSection>
                </MatAppBarRow>
            </MatAppBar>
        </MatAppBarContainer>
    </MatThemeProvider>
    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    MatTheme theme = new MatTheme()
    {
        Primary = "#1a76c9",
    };
}
