<h3>Description</h3>
<div style="font-size:1.3em">
    @((MarkupString) Description)
</div>
<p style="font-size:1.1em">Other Resources:</p>
<div style="font-size: .9em">
  @foreach (var lnk in LinkUrls)
  {
      <MatButton Target="_blank" Link="@lnk">@lnk</MatButton>
  }
</div>
@code {
    [Parameter]
    public string Description { get; set; }
    [Parameter]
    public SampleSection Section { get; set; }
    private List<string> LinkUrls { get; set; } = new List<string>();

    protected override Task OnInitializedAsync()
    {
        LinkUrls.Add("https://docs.microsoft.com/en-us/dotnet/csharp/");
        LinkUrls.Add("https://docs.microsoft.com/en-us/visualstudio/get-started/csharp/tutorial-aspnet-core?view=vs-2019");
        return base.OnInitializedAsync();
    }

}
