
@if (!codeReady)
{
    <div>
        <p>
            Console applications developed in C# have one main entry point (static main method) of execution, which takes an optional array of parameters as its only argument for command-line parameter representation.
        </p>

        <MatButton Raised="true" @onclick="BeginConsoleApp">Begin Console App</MatButton>
    </div>
}
@if (codeReady)
{
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-7">
                @if (isCodeCompiling)
                {
                    <hr />
                    <MatH4 Class="text-center" Style="color:blue">Executing...</MatH4>
                    <SpinKitFadingCircle />
                }
                <MonacoEdit OnCodeSubmit="OnSubmit" CodeSnippet="@CodeSnippet" IsConsole="true" />
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                <MatButton Icon="undo" @onclick="BeginConsoleApp">Reset App</MatButton>
                <p>Output:</p>
                <textarea @bind="Output" rows="15" cols="80" style="background-color: black; color: white; border-color: white; border-width: medium"></textarea>
            </div>
        </div>
    </div>
}

