@page "/arenaHub"

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
            <MatButton OnClick="@(() => showChat = !showChat)">Show Chat</MatButton>
            @if (showChat)
            {
                <MatH5>Chat</MatH5>
                <div>Chat message:</div>
                <input @bind="messageInput" style="width: 100%" size="50" />
                <button @onclick="SendPublic">Send</button>
                <div style="width: 100%; height: auto; max-height:400px; overflow:scroll">
                    @foreach (var text in messages)
                    {
                        <p style="width: 90%; height: auto">@text</p>
                    }
                </div>
            }
            <MatButton OnClick="RemoveArenas">Remove Created Arenas</MatButton>
        </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
            <MatH5>Arenas</MatH5>

            <TheArena UserName="@UserName" OnChallengeSubmit="HandleArenaSubmit" OnArenaCreate="HandleArenaCreate" OnArenaJoin="HandleArenaJoin" OnLeaveArena="HandleLeaveArena"/>
        </div>
    </div>
</div>

