@if (IsUserComplete)
{
   
    <MatH5><img style="margin-right:auto" src="https://img.icons8.com/plasticine/100/000000/checkmark.png" alt="Success!" />You have already successfully completed this challenge!</MatH5>
}
<div>
    @((MarkupString) description)
</div>
<br />
<p>
    <MatH5>Examples</MatH5>
</p>
<p style="background-color: black; color: white">
    @((MarkupString) examples)
</p>

@code {
    [Parameter]
    public string description { get; set; }
    [Parameter]
    public string examples { get; set; }
    [Parameter]
    public bool IsUserComplete { get; set; }
}
