@inject AppStateService AppStateService

@if (!isUserAdded)
{
<div class="text-center">
    <hr />
    <MatH6>Add a user name to attach to the challenge</MatH6>
    <MatTextField Label="User Name" @bind-Value="username"></MatTextField><br />
    <MatButton Raised="true" OnClick="AddUser">Create Challenge</MatButton>
    <hr />
    <div class="mainIcon" style="background-image: url('Icons/newChallengeIcon.png')"></div>
</div>
}
else
{
    <CreateChallenge/>
}

@code {
    string username;
    bool isUserAdded;
    void AddUser()
    {
        AppStateService.UpdateUserName(username);
        isUserAdded = true;
        StateHasChanged();
    }
}