@page "/"

@if (!isPageReady)
{
    <MatH4 Class="text-center">Loading required assemblies</MatH4>
    <MatH6 Class="text-center">In order to dynamically compile and execute any c# code you write, we have to load several assemblies. Almost done...</MatH6>
    <SpinKitFadingCircle />
    <div class="mainIcon" style="background-image: url('indexRvrLoad.png')"></div>
}
else
{
    <MatTabGroup @bind-ActiveIndex="tabIndex">
        <MatTab Label="Home">
            <div>
                <MatH4>Check out some C# learning tools, including:</MatH4>
                <div class="backgroundIcon">
                    <MatList SingleSelection="true" TwoLine="true">
                        <MatListItem OnClick="@(() => tabIndex = 1)">
                            <MatListItemText>
                                <MatListItemPrimaryText Class="listPrimary">C# Challenges</MatListItemPrimaryText>
                                <MatListItemSecondaryText>
                                    <div class="listSecondary">Practice c# by taking some basic coding challenges</div>
                                </MatListItemSecondaryText>
                            </MatListItemText>
                        </MatListItem>
                        <MatListDivider></MatListDivider>
                        <MatListItem OnClick="@(() => tabIndex = 2)">
                            <MatListItemText>
                                <MatListItemPrimaryText Class="listPrimary">Practice c#</MatListItemPrimaryText>
                                <MatListItemSecondaryText>
                                    <div class="listSecondary">A Monaco Editor with a variety of code snippets to get you started</div>
                                </MatListItemSecondaryText>
                            </MatListItemText>
                        </MatListItem>
                        <MatListDivider></MatListDivider>
                        <MatListItem OnClick="@(() => tabIndex = 3)">
                            <MatListItemText>
                                <MatListItemPrimaryText Class="listPrimary">Watch C# Videos</MatListItemPrimaryText>
                                <MatListItemSecondaryText Class="listSecondary">
                                    <div class="listSecondary">Select from a variety of Topics to watch YouTube training videos</div>
                                </MatListItemSecondaryText>
                            </MatListItemText>
                        </MatListItem>
                        <MatListDivider></MatListDivider>
                        <MatListItem OnClick="@(() => tabIndex = 4)">
                            <MatListItemText>
                                <MatListItemPrimaryText Class="listPrimary">Create C# Challenge</MatListItemPrimaryText>
                                <MatListItemSecondaryText>
                                    <div class="listSecondary">Create and solve your own C# challenge, and add it to our database for others to solve</div>
                                </MatListItemSecondaryText>
                            </MatListItemText>
                        </MatListItem>
                    </MatList>
                </div>
            </div>
        </MatTab>
        <MatTab Label="Code Challenges">
            <CodeChallengeHome />

        </MatTab>
        <MatTab Label="Practice C#(Shell and Monaco)">
            <CodeHome />
        </MatTab>
        <MatTab Label="Watch C# Videos">
            <VideoHome />
        </MatTab>
        <MatTab Label="Add C# Challenge">
            <ChallengeAddUser />
        </MatTab>
    </MatTabGroup>
}

